body {
    height: 800px;
  /* background-color: white; 
  background-image: linear-gradient(to bottom right, #ffff, #32012F) */
}
/* .fixed-top {
font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

.tool1, .tool2, .tool3, .tool4 {
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.row1 {
    text-align: left;
    padding-top: 100px;
}
.intro {
    text-align: center;
}

.mb-3 {
    margin-top: 15px;
}

.steelEstimator{
        color: black;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
    
.rebarCalculator {
      text-align: center;
    color: black;
    margin-bottom: 20px;
}

.display1 {
    color: black;
font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;    text-align: center;
}

.concreteEstimator {
        color: black;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.usefulContacts {
          color: black;
    text-align: center;
    margin-bottom: 20px;
    width: 75%;
}

.display2, .display3 {
    text-align: center;
      color: black;
font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;  
}

.submit1, .submit2, .submit3 {
    margin-bottom: 10px;
}
.sourceData {
    text-decoration: none;
}

.sourceData:hover {
    text-decoration: underline;
}

h6, h3, span, select {
font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;   
}
.assumptionsButton {
     text-decoration: none;
     text-align: left;
}

.assumptionsButton:hover {
        text-decoration: underline;
 
}

.welcome {position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
font-family: "Jersey 25 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
}


.labourButton {
  font-weight: bold;
  width: 100%;
  color: white;
}
.materialSupplierButton {
  font-weight: bold;
  width: 100%;
  color: white;
}

.unsplash {
  padding-top: 16px;
  width: 100%;
}

.tableRow{
  padding-top: 30px;
}

.labourSelect{
  margin-top: 30px;
}

.hiddenDiv {
  margin-top: 16px;
}
.pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
 .pagination button {
            margin: 0 5px;
            padding: 5px 10px;
            cursor: pointer;
        }

 